
.vs/Lab10IdentityNew/v15/.suo
.vs/Lab10IdentityNew/v15/Server/sqlite3/storage.ide-shm
.vs/Lab10IdentityNew/v15/Server/sqlite3/storage.ide-wal
Lab10IdentityNew/App_Data/aspnet-Lab10IdentityNew-20181201102453.mdf
Lab10IdentityNew/App_Data/aspnet-Lab10IdentityNew-20181201102453_log.ldf
Lab10IdentityNew/bin/Lab10IdentityNew.pdb
Lab10IdentityNew/obj/Debug/Lab10IdentityNew.pdb
