@{
    ViewBag.Title = "My forum!";
}

<div class="jumbotron">
    <h1>Forum</h1>
    <p class="lead">A nice platform where you can find and talk about anything</p>
</div>

<div class="row">
    <h2>Categories</h2>
</div>
<br />

@foreach (var category in ViewBag.Categories)
{
    <ul class="list-group">
        <li class="list-group-item">
            <p class="text-uppercase"><strong>@category.CategoryName</strong></p>
            <a class="btn btn-sm btn-success" href="/Article/ArticlesByCategory/@category.CategoryId/0/5">Show topics in this category</a>
        </li>
    </ul>

}
<br />
<br />
