@{
    ViewBag.Title = "My forum!";
}

<div class="jumbotron">
    <h1>Forum</h1>
    <p class="lead">A nice platform where you can find and talk about anything</p>
</div>

<div class="row">
    <h2>Categories</h2>
</div>

@foreach (var category in ViewBag.Categories)
{
    <p>@category.CategoryName</p>
    <a class="btn btn-sm btn-success" href="/Article/ArticlesByCategory/@category.CategoryId">Afisare Articole</a>

    <hr />
}
<br /> <br />