
@{
    ViewBag.Title = "Topics";
}

<h2>@ViewBag.Title in @ViewBag.CategoryName</h2>
<a class="btn btn-sm btn-primary" href="/Article/New/@ViewBag.CategoryId">Add new topic</a>
<br /><br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (CursLab8.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article);

}

@if (ViewBag.OffsetPrev >= 0)
{
    <a class="btn btn-sm btn-success" href="/Article/ArticlesByCategory/@(ViewBag.CategoryId)/@(ViewBag.OffsetPrev)/5">Prev</a>
}
@if (ViewBag.HasNextPage)
{
    <a class="btn btn-sm btn-success" href="/Article/ArticlesByCategory/@(ViewBag.CategoryId)/@(ViewBag.OffsetNext)/5">Next</a>
}
</br></br>
<br />


