@{
    ViewBag.Title = "Article's Panel";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-sm btn-primary" href="/Article/New">New Article</a>
<br /><br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (CursLab8.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article);

}



