

<h2>Admin Panel</h2>

<br />
<ul class="list-group">
    <li class="list-group-item list-group-item-info">@Html.ActionLink("User Panel", "Index", "Users")</li>
    <li class="list-group-item list-group-item-info">@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li class="list-group-item list-group-item-info">@Html.ActionLink("Articles", "Index", "Article")</li>
</ul>